<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/Template/sidebar-01/images/logo.jpg);"></a>
        <ul class="list-unstyled components mb-5">

            <li><a href="#">Portfolio</a> </li>
            <li><a href="#">Hakkımda</a></li>
            <li><a href="/Project/CreateProject">Yeni Proje Girişi</a></li>
            <li><a href="/Service/SerivceList">Hizmetler</a></li>
            <li><a href="#">İstatislikler</a></li>
            <li><a href="/Project/Index">Projeler</a></li>
            <li><a href="#">İletişim bilgileri</a></li>
            <li><a href="#">Gelen mesaj</a></li>
            <li><a href="#">Ayarlar</a></li>
            <li><a href="#">Çıkış Yap</a></li>

        </ul>

        <div class="footer">
            <p>
                
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır 
             
            </p>
        </div>

    </div>
</nav>
