<div class="col-xl-6">
    <div class="card">
        <div class="card-body">

            <h4 class="card-title">Mesaj Tarihi-Gelen Mesaj Sayısı Grafiği</h4>
            @*<p class="card-subtitle mb-4">Example of line chart chart js.</p>*@

            <canvas id="lineChart"></canvas>

        </div> <!-- end card-body-->
    </div> <!-- end card-->
</div> <!-- end col -->
<div class="col-xl-6">
    <div class="card">
        <div class="card-body">

            <h4 class="card-title">Projeler-kategorileri</h4>


            <canvas id="pieChart"></canvas>

        </div>
        <!-- end card-body-->
    </div>
    <!-- end card-->
</div>

