
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Mesaj No</th>
            <th>Gönderen</th>
            <th>Konu</th>
            <th>mesajı aç</th>
        </tr>
        <tr>
            <td>1</td>
            <td>murat sağlam</td>
            <td>teşekkür</td>
            <td> <a href="#" class="btn btn-warning">mesajı aç</a> </td>
        </tr>
        <tr>
            <td>2</td>
            <td>kemal kibar</td>
            <td>şikayet</td>
            <td> <a href="#" class="btn btn-warning">mesajı aç</a> </td>

        </tr>
    </table>
</div>
