@model List<DevFolio.Models.TblContact>
@{
    ViewBag.Title = "MessageList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Mesaj No</th>
            <th>Gönderen</th>
            <th>Konu</th>
            <th>mesajı aç</th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>@item.ContactID</td>
        <td>@item.NameSurname</td>
        <td>@item.Subject</td>
        
        <td> <a href="#" class="btn btn-warning">mesajı aç</a> </td>
    </tr>
        }

        
    </table>
</div>
