<div class="col-sm-3 col-lg-3">
    <div class="counter-box">
        <div class="counter-ico">
            <span class="ico-circle"><i class="ion-ios-list"></i></span>
        </div>
        <div class="counter-num">
            <p class="counter">@ViewBag.CategoryCount</p>
            <span class="counter-text">Kategori Sayısı</span>
        </div>
    </div>
</div>
<div class="col-sm-3 col-lg-3">
    <div class="counter-box pt-4 pt-md-0">
        <div class="counter-ico">
            <span class="ico-circle"><i class="ion-paper-airplane"></i></span>
        </div>
        <div class="counter-num">
            <p class="counter">@ViewBag.ProjeCount</p>
            <span class="counter-text">Proje Sayısı</span>
        </div>
    </div>
</div>
<div class="col-sm-3 col-lg-3">
    <div class="counter-box pt-4 pt-md-0">
        <div class="counter-ico">
            <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
        </div>
        <div class="counter-num">
            <p class="counter">@ViewBag.SkillCount</p>
            <span class="counter-text">Yetenek Sayısı</span>
        </div>
    </div>
</div>
<div class="col-sm-3 col-lg-3">
    <div class="counter-box pt-4 pt-md-0">
        <div class="counter-ico">
            <span class="ico-circle"><i class="ion-ios-people"></i></span>
        </div>
        <div class="counter-num">
            <p class="counter">@ViewBag.TestimonialCount</p>
            <span class="counter-text">Referans Sayısı</span>
        </div>
    </div>
</div>
