
@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Referans Girişi</h2>

<form method="post">
    <label>İsim</label>
    <input type="text" class="form-control" name="NameSurname" />
    <br />
    <label>Açıklama</label>
    <input type="text" class="form-control" name="Description" />
    <br />
    <label>Fotoğraf</label>
    <input type="text" class="form-control" name="ImageUrl" />
    <br />
    <label>Durum</label>
    <input type="text" class="form-control" name="Status" />
    <br />
    <button class="btn btn-info"> Referans kısmını Kaydet</button>
</form>

