
@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Kategori Girişi</h2>

<form method="post">
    <label>Kategori</label>
    <input type="text" class="form-control" name="CategoryName" />
    <br />
    <button class="btn btn-info"> Kategori kısmını Kaydet</button>
</form>

