
@{
    Layout = null;
}

<h3>merhaba dünya</h3>
<h4>devfolio projesi</h4>
<div style="background-color:cadetblue">   burası divdir</div>
<br />
<div style="background-color:orangered">   burası 2. divdir</div>
<br />
<a href="http://www.google.com">google git</a>
<br />
<a href="http://www.mynet.com">MyNET sitesi </a>